/* -------------------------------------------------
 * Nextflow config file
 * -------------------------------------------------
 */

process {
  withLabel:process_high {
	cpus = {32 * task.attempt }
	memory = { 192.GB * task.attempt }
  	time = { 12.h * task.attempt }
  }
  
  withLabel:process_medium {
	cpus = {8 * task.attempt }
	memory = { 16.GB * task.attempt }
  	time = { 4.h * task.attempt }
  }

  withLabel:process_low {
	cpus = {2 * task.attempt }
	memory = { 4.GB * task.attempt }
  	time = { 1.h * task.attempt }
  }
}
