/* ----------------------------------------------------
 * Nextflow config file for the BioHPC Genomics Cluster
 * ----------------------------------------------------
 */

process {
  executor = 'slurm'
  queue = { task.memory <= 1536.GB ? (task.time > 2.d || task.memory > 384.GB ? 'biohpc_gen_production' : 'biohpc_gen_normal') : 'biohpc_gen_highmem' }
  clusterOptions = '--clusters=biohpc_gen'
}

charliecloud {
  enabled = true
}

process {
  errorStrategy = 'retry'
  maxRetries = 3


  withName: 'SEQTK.*' {
	  cpus = {4 * task.attempt }
	  memory = { 24.GB * task.attempt }
  	time = { 30.min * task.attempt }
    container = "quay.io/biocontainers/seqtk:1.4--he4a0461_1"
  }
  
  withName: 'SUBSET_ANNOTATIONS' {
	  cpus = { 6 * task.attempt }
	  memory = { 12.GB * task.attempt }
  	time = { 1.h * task.attempt }
    container = "quay.io/biocontainers/seqtk:1.4--he4a0461_1"
  }

  withName: SEQKIT_GET_LENGTH {
	  cpus = {4 * task.attempt }
	  memory = { 16.GB * task.attempt }
  	time = { 30.min * task.attempt }
    container = "quay.io/biocontainers/seqkit:2.4.0--h9ee0642_0"
  }

  withName: MINIPROT_HRP {
	  cpus = {8 * task.attempt }
	  memory = { 16.GB * task.attempt }
  	time = { 1.h * task.attempt }
    container = "quay.io/biocontainers/miniprot:0.13--he4a0461_0"
  }

  withName: AGAT_EXTRACT_TRANSCRIPTS {
	  cpus = {8 * task.attempt }
	  memory = { 16.GB * task.attempt }
  	time = { 4.h * task.attempt }
    container = "quay.io/biocontainers/agat:1.1.0--pl5321hdfd78af_1"
  }

  withName: AGAT_GXF2GFF {
	  cpus = {8 * task.attempt }
	  memory = { 16.GB * task.attempt }
  	time = { 2.h * task.attempt }
    container = "quay.io/biocontainers/agat:1.1.0--pl5321hdfd78af_1"
  }

  withName: 'INTERPROSCAN.*' {
    cpus = { 8 * task.attempt}
	  memory = { 16.GB * task.attempt }
  	time = { 2.h * task.attempt }
    containerOptions = "-b /dss/dsslegfs01/pn73so/pn73so-dss-0000/becker_common/software/interproscan-5.67-99.0/data:/opt/interproscan/data"
  }

  withName: 'BEDTOOLS_.*' {
    cpus = { 8 }
	  memory = { 16.GB * task.attempt }
  	time = { 1.h * task.attempt }
    container = "staphb/bedtools:2.31.0"
  }
  withName: MEME {
    cpus = { 8 }
	  memory = { 16.GB * task.attempt }
  	time = { 1.h * task.attempt }
    container = "memesuite/memesuite:5.5.5"
  }

  withName: MAST {
    cpus = { 8 }
	  memory = { 16.GB * task.attempt }
  	time = { 1.h * task.attempt }
    container = "memesuite/memesuite:5.5.5"
  }

  withName: SEQKIT_GET_LENGTH {
    cpus = { 1 }
	  memory = { 8.GB * task.attempt }
  	time = { 1.h * task.attempt }
    container = 'quay.io/biocontainers/seqkit:2.4.0--h9ee0642_0'
  }

  withName: 'SEQTK_.*' {
    cpus = { 4 }
	  memory = { 8.GB * task.attempt }
  	time = { 1.h * task.attempt }
    container = "quay.io/biocontainers/seqtk:1.4--he4a0461_1"
  }
  
  withName: 'FILTER_R_GENES.*' {
    cpus = { 4 }
	  memory = { 8.GB * task.attempt }
  	time = { 1.h * task.attempt }
    container = "rocker/tidyverse:4.3.1"
  }

  withName: GET_R_GENE_GFF {
    cpus = { 1 }
	  memory = { 4.GB * task.attempt }
  	time = { 1.h * task.attempt }
    container = "staphb/bedtools:2.31.0"
  }
}

