/* ----------------------------------------------------
 * Nextflow config file for the BioHPC Genomics Cluster
 * ----------------------------------------------------
 */

env {
  SLURM_CLUSTERS='biohpc_gen'
}

process {
  executor = 'slurm'
  queue = { task.memory <= 1536.GB ? (task.time > 2.d || task.memory > 384.GB ? 'biohpc_gen_production' : 'biohpc_gen_normal') : 'biohpc_gen_highmem' }
}

charliecloud {
  enabled = true
}

process {

  withName: COLLECT_READS {
	cpus = {4 * task.attempt }
	memory = { 8.GB * task.attempt }
  	time = { 1.h * task.attempt }
  }

  withName: ALIGN {
	cpus = {16 * task.attempt }
	memory = { 16.GB * task.attempt }
  	time = { 6.h * task.attempt }
  }

  withName: ALIGN_TO_BAM {
	cpus = {16 * task.attempt }
	memory = { 16.GB * task.attempt }
  	time = { 6.h * task.attempt }
  }

  withName: ALIGN_SHORT_TO_BAM {
	cpus = {16 * task.attempt }
	memory = { 16.GB * task.attempt }
  	time = { 6.h * task.attempt }
  }
  
  withName: SAMTOOLS_SORT {
	cpus = {2 * task.attempt }
	memory = { 4.GB * task.attempt }
  	time = { 1.h * task.attempt }
  }
  
  withName: SAMTOOLS_INDEX {
	cpus = {2 * task.attempt }
	memory = { 4.GB * task.attempt }
  	time = { 1.h * task.attempt }
  }

  withName: SAMTOOLS_IDXSTATS {
	cpus = {1 * task.attempt }
	memory = { 4.GB * task.attempt }
  	time = { 4.h * task.attempt }
  }

  withName: FLYE {
    cpus = {32 * task.attempt }
	memory = { 96.GB * task.attempt }
  	time = { 12.h * task.attempt }
  }

  withName: QUAST {
	cpus = {16 * task.attempt }
	memory = { 96.GB * task.attempt }
  	time = { 6.h * task.attempt }
  } 

  withName: BUSCO {
	cpus = {16 * task.attempt }
	memory = { 16.GB * task.attempt }
  	time = { 2.h * task.attempt }
  }

  withName: PILON {
	cpus = { 48 }
	memory = { 96.GB }
  	time = { 18.h * task.attempt }
  }

  withName: MEDAKA {
	cpus = { 24 }
	memory = { 48.GB * task.attempt }
  	time = { 6.h * task.attempt }
  }

  withName: RAGTAG_SCAFFOLD {
	cpus = { 48 }
	memory = { 24.GB * task.attempt }
  	time = { 4.h * task.attempt }
  }

  withName: LIFTOFF {
	cpus = { 16 }
	memory = { 16.GB * task.attempt }
  	time = { 4.h * task.attempt }
  }
  withName: AGAT_FILTER_BY_LENGTH {
    cpus = { 8 }
	  memory = { 16.GB * task.attempt }
  	time = { 1.h * task.attempt }
  }
  withName: AGAT_EXTRACT_PROTEINS {
    cpus = { 8 }
	  memory = { 16.GB * task.attempt }
  	time = { 1.h * task.attempt }
  }
  withName: INTERPROSCAN {
    cpus = { 16 }
	  memory = { 32.GB * task.attempt }
  	time = { 4.h * task.attempt }
  }
  withName: INTERPROSCAN_SUPERFAMILY {
    cpus = { 16 }
	  memory = { 32.GB * task.attempt }
  	time = { 4.h * task.attempt }
  }
  withName: INTERPROSCAN_PFAM {
    cpus = { 16 }
	  memory = { 32.GB * task.attempt }
  	time = { 4.h * task.attempt }
  }
  withName: BEDTOOLS_GETFASTA {
    cpus = { 8 }
	memory = { 16.GB * task.attempt }
  	time = { 1.h * task.attempt }
  }
  withName: BEDTOOLS_CLUSTER {
    cpus = { 8 }
	  memory = { 16.GB * task.attempt }
  	time = { 1.h * task.attempt }
  }
  withName: BEDTOOLS_NR_CLUSTERS {
    cpus = { 8 }
	  memory = { 16.GB * task.attempt }
  	time = { 1.h * task.attempt }
  }
  withname: GENBLAST_G {
    cpus = { 16 }
	  memory = { 32.GB * task.attempt }
  	time = { 4.h * task.attempt }
  }
  withName: MEME {
    cpus = { 16 }
	  memory = { 32.GB * task.attempt }
  	time = { 4.h * task.attempt }
  }
  withName: MAST {
    cpus = { 16 }
	  memory = { 32.GB * task.attempt }
  	time = { 4.h * task.attempt }
  }
  withName: SEQTK_SUBSET {
    cpus = { 4 }
	  memory = { 8.GB * task.attempt }
  	time = { 1.h * task.attempt }
  }
  withName: IPS2FPG {
    cpus = { 4 }
	  memory = { 8.GB * task.attempt }
  	time = { 1.h * task.attempt }
  }
  errorStrategy = { ( task.exitStatus == 140 || task.exitStatus == 137 ) ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
}

