/* ----------------------------------------------------
 * Nextflow config file for the BioHPC Genomics Cluster
 * ----------------------------------------------------
 */

env {
  SLURM_CLUSTERS='biohpc_gen'
}

process {
  executor = 'slurm'
  queue = { task.memory <= 1536.GB ? (task.time > 2.d || task.memory > 384.GB ? 'biohpc_gen_production' : 'biohpc_gen_normal') : 'biohpc_gen_highmem' }
}

charliecloud {
  enabled = true
}

spack {
  enabled = true
} 

process {

  withName: AGAT_FILTER_BY_LENGTH {
    cpus = { 8 }
	  memory = { 16.GB * task.attempt }
  	time = { 1.h * task.attempt }
    container = "quay.io/biocontainers/agat:1.1.0--pl5321hdfd78af_1"  
  }

  withName: AGAT_EXTRACT_NLR {
    cpus = { 8 }
	  memory = { 16.GB * task.attempt }
  	time = { 1.h * task.attempt }
    container = "quay.io/biocontainers/agat:1.1.0--pl5321hdfd78af_1"  
  }

  withName: AGAT_EXTRACT_PROTEINS {
    cpus = { 8 }
	  memory = { 16.GB * task.attempt }
  	time = { 1.h * task.attempt }
    container = "quay.io/biocontainers/agat:1.1.0--pl5321hdfd78af_1" 
  }

  withName: INTERPROSCAN {
    beforeScript = 'module use /dss/dsslegfs02/pn73se/pn73se-dss-0000/spack/modules/x86_avx2/linux*'
    cpus = { 8 }
	  memory = { 16.GB * task.attempt }
  	time = { 2.h * task.attempt }
    module = 'interproscan/5.63-95.0-gcc11-csy'
  }

  withName: INTERPROSCAN_SUPERFAMILY {
    beforeScript = 'module use /dss/dsslegfs02/pn73se/pn73se-dss-0000/spack/modules/x86_avx2/linux*'
    cpus = { 8 }
	  memory = { 16.GB * task.attempt }
  	time = { 2.h * task.attempt }
    module = 'interproscan/5.63-95.0-gcc11-csy'
  }

  withName: INTERPROSCAN_PFAM {
    beforeScript = 'module use /dss/dsslegfs02/pn73se/pn73se-dss-0000/spack/modules/x86_avx2/linux*'
    cpus = { 8 }
	  memory = { 16.GB * task.attempt }
  	time = { 2.h * task.attempt }
    module = 'interproscan/5.63-95.0-gcc11-csy'
  }

  withName: BEDTOOLS_GETFASTA {
    cpus = { 8 }
	  memory = { 16.GB * task.attempt }
  	time = { 1.h * task.attempt }
    container = "staphb/bedtools:2.31.0"
  }

  withName: BEDTOOLS_CLUSTER {
    cpus = { 8 }
	  memory = { 16.GB * task.attempt }
  	time = { 1.h * task.attempt }
    container = "staphb/bedtools:2.31.0"
  }

  withName: BEDTOOLS_NR_CLUSTERS {
    cpus = { 8 }
	  memory = { 16.GB * task.attempt }
  	time = { 1.h * task.attempt }
    container = "staphb/bedtools:2.31.0"
  }

  withname: GENBLAST_G {
    cpus = { 16 }
	  memory = { 32.GB * task.attempt }
  	time = { 4.h * task.attempt }
    container = "gitlab.lrz.de:5005/beckerlab/container-playground/genblastg:2a25a73b"
  }

  withName: MEME {
    cpus = { 16 }
	  memory = { 32.GB * task.attempt }
  	time = { 4.h * task.attempt }
    container = "memesuite/memesuite:5.5.3"
  }

  withName: MAST {
    cpus = { 16 }
	  memory = { 32.GB * task.attempt }
  	time = { 4.h * task.attempt }
    container = "memesuite/memesuite:5.5.3"
  }

  withname: SEQKIT_GET_LENGTH {
    cpus = { 1 }
	  memory = { 8.GB * task.attempt }
  	time = { 1.h * task.attempt }
    container = 'quay.io/biocontainers/seqkit:2.4.0--h9ee0642_0'
  }

  withName: SEQTK_SUBSET_FL {
    cpus = { 4 }
	  memory = { 8.GB * task.attempt }
  	time = { 1.h * task.attempt }
    container = "quay.io/biocontainers/seqtk:1.4--he4a0461_1"
  }
  
  withName: SEQTK_SUBSET_RPS {
    cpus = { 4 }
	  memory = { 8.GB * task.attempt }
  	time = { 1.h * task.attempt }
    container = "quay.io/biocontainers/seqtk:1.4--he4a0461_1"
  }

  withName: SEQTK_SUBSET_CANDIDATES {
    cpus = { 4 }
	  memory = { 8.GB * task.attempt }
  	time = { 1.h * task.attempt }
    container = "quay.io/biocontainers/seqtk:1.4--he4a0461_1"
  }

  withName: FILTER_R_GENES {
    cpus = { 8 }
	  memory = { 8.GB * task.attempt }
  	time = { 1.h * task.attempt }
    container = "rocker/tidyverse:4.3.1"
  }

  withName: GET_R_GENE_GFF {
    cpus = { 1 }
	  memory = { 4.GB * task.attempt }
  	time = { 1.h * task.attempt }
    container = "staphb/bedtools:2.31.0"
  }

  errorStrategy = { ( task.exitStatus == 140 || task.exitStatus == 137 ) ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
}

