charliecloud.enabled = true

process {
    withName: SEQKIT_GET_LENGTH {
        container = "quay.io/biocontainers/seqkit:2.4.0--h9ee0642_0"
    }
    withName: SEQTK_SUBSET_INPUT {
        container = "quay.io/biocontainers/seqtk:1.4--he4a0461_1"
    }
    withName: SEQTK_SUBSET_FASTA {
        container = "quay.io/biocontainers/seqtk:1.4--he4a0461_1"
    }
    withName: SUBSET_ANNOTATIONS {
        container = "quay.io/biocontainers/seqtk:1.4--he4a0461_1"
    }
    withName: 'AGAT_.*' {
        container = "quay.io/biocontainers/agat:1.4.0--pl5321hdfd78af_0"
    }
    withName: 'INTERPROSCAN.*' {
        container = "interpro/interproscan:5.67-99.0"
    }
    withName: MINIPROT_HRP {
        container = "quay.io/biocontainers/miniprot:0.12--he4a0461_0"
    }
}