charliecloud.enabled = true

process {
    withName: 'AGAT_.*' {
        container = "quay.io/biocontainers/agat:1.1.0--pl5321hdfd78af_1"
    }
    withName: 'BEDTOOLS_.*' {
        container = "staphb/bedtools:2.31.0"
    }
    withname: GENBLAST_G {
        container = "gitlab.lrz.de:5005/beckerlab/container-playground/genblastg:ff448d5c"
    }
    withName: MEME {
        container = "memesuite/memesuite:5.5.3"
    }
    withName: MAST {
        container = "memesuite/memesuite:5.5.3"
    }
    withName: SEQTK_SUBSET {
        container = "quay.io/biocontainers/seqtk:1.4--he4a0461_1"
    }
    withName: IPS2FPG {
        container = "quay.io/biocontainers/python:3.9--1"
    }
    withName: GET_R_GENE_GFF {
        container = "debian:bullseye"
  }
}