charliecloud.enabled = true

process {
    withName: ALIGN {
        container = "gitlab.lrz.de:5005/beckerlab/container-playground/minimap2-samtools:697815eb"
    }
    withName: ALIGN_TO_BAM {
        container = "gitlab.lrz.de:5005/beckerlab/container-playground/minimap2-samtools:697815eb"
    }
    withName: ALIGN_SHORT_TO_BAM {
        container = "gitlab.lrz.de:5005/beckerlab/container-playground/minimap2-samtools:697815eb"
    }
    withName: SAMTOOLS_SORT {
        container = "quay.io/biocontainers/samtools:1.15.1--h1170115_0"
    }
    withName: SAMTOOLS_INDEX {
        container = "quay.io/biocontainers/samtools:1.15.1--h1170115_0"
    }
    withName: SAMTOOLS_IDXSTATS {
        container = "quay.io/biocontainers/samtools:1.15.1--h1170115_0"
    }
    withName: FLYE {
        container = "quay.io/biocontainers/flye:2.9--py39h6935b12_1"
    }
    withName: QUAST {
        container = "quay.io/biocontainers/quast:5.2.0--py39pl5321h2add14b_1"
    }
    withName: BUSCO {
        container = "quay.io/biocontainers/busco:5.4.7--pyhdfd78af_0"
    }
    withName: PILON {
        container = "quay.io/biocontainers/pilon:1.24--hdfd78af_0"
    }
    withName: MEDAKA {
        container = "quay.io/biocontainers/medaka:1.8.0--py38hdaa7744_0"
    }
    withName: RAGTAG_SCAFFOLD {
        container = "quay.io/biocontainers/ragtag:2.1.0--pyhb7b1952_0"
    }
    withName: LIFTOFF {
        container = "quay.io/biocontainers/liftoff:1.6.3--pyhdfd78af_0"
    }
    withName: AGAT_FILTER_BY_LENGTH {
        container = "quay.io/biocontainers/agat:1.1.0--pl5321hdfd78af_1"
    }
    withName: AGAT_EXTRACT_PROTEINS {
        container = "quay.io/biocontainers/agat:1.1.0--pl5321hdfd78af_1"
    }
    withName: INTERPROSCAN {
        container = "quay.io/biocontainers/interproscan:5.59_91.0--hec16e2b_1"
    }
    withName: INTERPROSCAN_SUPERFAMILY {
        container = "quay.io/biocontainers/interproscan:5.59_91.0--hec16e2b_1"
    }
    withName: INTERPROSCAN_PFAM {
        container = "quay.io/biocontainers/interproscan:5.59_91.0--hec16e2b_1"
    }
    withName: BEDTOOLS_NR_CLUSTERS {
        container = "staphb/bedtools:2.31.0"
    }
    withName: BEDTOOLS_GETFASTA {
        container = "staphb/bedtools:2.31.0"
    }
    withName: BEDTOOLS_CLUSTER {
        container = "staphb/bedtools:2.31.0"
    }
    withname: GENBLAST_G {
        container = "gitlab.lrz.de:5005/beckerlab/container-playground/genblastg:ff448d5c"
    }
    withName: MEME {
        container = "memesuite/memesuite:5.5.3"
    }
    withName: MAST {
        container = "memesuite/memesuite:5.5.3"
    }
    withName: SEQTK_SUBSET {
        container = "quay.io/biocontainers/seqtk:1.4--he4a0461_1"
    }
    withName: IPS2FPG {
        container = "quay.io/biocontainers/python:3.9--1"
    }
    withName: GET_R_GENE_GFF {
        container = "debian:bullseye"
  }
}