conda {
    enabled = true
}

process {
  withName: AGAT_FILTER_BY_LENGTH {
    conda = "bioconda:agat=1.1.0"
  }

  withName: AGAT_EXTRACT_PROTEINS {
    conda = "bioconda:agat=1.1.0"
  }

  withName: BEDTOOLS_GETFASTA {
    conda = "bioconda:bedtools=2.31.0"
  }

  withName: BEDTOOLS_CLUSTER {
    conda = "bioconda:bedtools=2.31.0"
  }

  withName: BEDTOOLS_NR_CLUSTERS {
    conda = "bioconda:bedtools=2.31.0"
  }

  withName: MEME {
    conda = "bioconda:meme=5.5.3"
  }

  withName: MAST {
    conda = "bioconda:meme=5.5.3"
  }

  withname: SEQKIT_GET_LENGTH {
    conda = "bioconda:seqkit=2.4.0"

  }

  withName: SEQTK_SUBSET_FL {
    conda = "bioconda:seqtk=1.4"
  }
  
  withName: SEQTK_SUBSET_RPS {
    conda = "bioconda:seqtk=1.4"
  }

  withName: SEQTK_SUBSET_CANDIDATES {
    conda = "bioconda:seqtk=1.4"
  }

  withName: IPS2FPG {
    conda = "python3.8"
  }

  withName: GET_R_GENE_GFF {
    conda = "python3.8"
  }
  withName: INTERPROSCAN {
    conda = 'bioconda::interproscan=5.63-95.0'
  }
  withName: INTERPROSCAN_PFAM {
    conda = 'bioconda::interproscan=5.63-95.0'
  }
  withName: INTERPROSCAN_SUPERFAMILY {
    conda = 'bioconda::interproscan=5.63-95.0'
  }

}