spack.enabled = true
process {
    beforeScript = 'module use /dss/dsslegfs02/pn73se/pn73se-dss-0000/spack/modules/x86_avx2/linux*'

    withName: INTERPROSCAN {
        module = 'interproscan/5.63-95.0-gcc11-csy'
    }

    withName: INTERPROSCAN_PFAM {
        module = 'interproscan/5.63-95.0-gcc11-csy'
    }

    withName: INTERPROSCAN_SUPERFAMILY {
        module = 'interproscan/5.63-95.0-gcc11-csy'
    }

}